.review-section{
    width: 100vw;
    /* min-width: max-content; */
    background-color:#000814;
    height: fit-content;
    padding-bottom: 4rem ;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-section-content{
    width: 80vw; 
    ;
}

.review-heading{
    min-width: fit-content;
    max-width: 100%;
    height: fit-content;
    padding: 2rem 0rem;
    font-size: 28px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.review-card{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    overflow-y: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

@media (max-width:500px) {
    .review-heading{
        text-align: start;
        font-size: 19px;
    }
    .review-section-content{
        width: 95vw;
    }
    .review-card{
        width: 95vw;
    }
}