.upload-container {
  display: flex;
  flex-direction: column;
}

.upload-label {
  font-size: 0.875rem;
  color: #E5E7EB;
}

.upload-label sup {
  color: #F472B6;
}

.upload-dropzone {
  display: flex;
  min-height: 250px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px dotted #374151;
  background-color: #1F2937;
  position: relative;
}

.upload-dropzone-active {
  background-color: #111827;
}

.upload-preview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 250px; */
  padding: 1.5rem;
}

.upload-preview-image,
.upload-preview-container video {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Hide video controls */
.upload-preview-container video {
  pointer-events: none;
}

.upload-cancel-btn {
  margin-top: 0.75rem;
  color: #9CA3AF;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

.upload-input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.upload-icon-container {
  display: grid;
  aspect-ratio: 1 / 1;
  width: 56px;
  place-items: center;
  border-radius: 50%;
  background-color: #D1D5DB;
}

.upload-icon {
  font-size: 2rem;
  color: #FFEBC6;
}

.upload-browse-text {
  margin-top: 0.5rem;
  max-width: 200px;
  text-align: center;
  font-size: 0.875rem;
  color: #A1A1AA;
}

.upload-browse-highlight {
  font-weight: 600;
  color: #FFEBC6;
}

.upload-specs-list {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  list-style-type: disc;
  font-size: 0.75rem;
  color: #A1A1AA;
}

.upload-error {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: #F472B6;
  letter-spacing: 0.05em;
}

/* Clickable overlay */
.upload-input-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
